:root{
  --default-background: #222222;
  --pink: #FF1493;
  --green: #2bff00;
  --blue: #61dafb;
  --purple: #8A2BE2;
}

.App {
  width: 90vw;
  max-width: 500px;
}


body{
  margin:2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--default-background);
  color: var(--green);
}

h1{
  color: #35aeff;
}

input {
  background-color: var(--default-background);
  border-style: solid;
  border-color: var(--pink);
  box-shadow: 1px 1px 1px 1px var(--pink);
  color: var(--green);
  outline: none;
}

button{
  background-color: var(--default-background);
  border-style: solid;
  box-shadow: 1px 1px 1px 1px var(--purple);
  border-color: var(--purple);
  color: var(--purple);
  font-weight: bolder;
  padding: 5px;
}

button:active{
  color: var(--pink);
  box-shadow: 1px 1px 1px 1px var(--pink);
}

.deleteButton{
  color: red;
  float: right;
}

.taskBlock{
  margin-top: 2vh;
  padding: 1vh;
  background-color:rgba(138, 43, 226, .2);
}

.notesArea{
  resize: none;
  width:100%;
  height: 15vh;
  background-color: var(--default-background);
  outline: none;
  color: var(--green);
  border-color: var(--pink);
  border-style: solid;
  box-shadow: 1px 1px 1px 1px #FF1493;
  font-size: medium;
}

.timerButton{
  width: 50%;
}

#timer{
  margin-top: 10vh;
  margin-bottom: 10vh;
}